<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Animais</title>
</head>
<body>

<h1>Animais Cadastrados</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Peso</th>
            <th>Ações</th>

                        
        </tr>
    </thead>

    <tbody>
        <tr th:each="animal : ${animais}">
            <td th:text="${animal.id}"></td>
            <td th:text="${animal.nome}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.raca}"></td>
            <td th:text="${animal.peso}"></td>



            <td>
                <a th:href="@{/animais/editar/{id}(id=${animal.id})}">
                    Editar
                </a>
                <td>
    <a th:href="@{/animais/editar/{id}(id=${animal.id})}">Editar </a>
    </td>

    |<a th:href="@{/animais/excluir/{id}(id=${animal.id})}"
       onclick="return confirm('Deseja realmente excluir este animal?');">
        Excluir
    </a>


            </td>

        </tr>
    </tbody>
</table>

</body>
</html>