<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Animais</title>

    

<h1>Lista de Animais</h1>

<!-- FORMULÁRIO -->
<div class="formulario">

    <h2>Cadastrar Animal</h2>

    <form action="/animais/salvar" method="post">

        <input type="text"
               name="nome"
               placeholder="Nome"
               required>

        <input type="text"
               name="especie"
               placeholder="Espécie"
               required>

        <input type="text"
               name="raca"
               placeholder="Raça"
               required>

        <input type="number"
               step="0.1"
               name="peso"
               placeholder="Peso"
               required>

        <button type="submit">Salvar</button>

    </form>

</div>

<!-- BUSCA -->
<form action="/animais" method="get">

    <input type="text"
           name="busca"
           placeholder="Digite o nome do animal"
           th:value="${busca}">

    <button type="submit">Buscar</button>

</form>

<!-- TABELA -->
<table>

    <thead>
        <tr>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Peso</th>
        </tr>
    </thead>

    <tbody>

        <tr th:each="animal : ${animais}">
            <td th:text="${animal.nome}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.raca}"></td>
            <td th:text="${animal.peso}"></td>
        </tr>

    </tbody>

</table>

</body>
</html>