<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Animais - Clínica Vet Amigos</title>
</head>
<body>

<h1>Animais - Clínica Vet Amigos</h1>
<form action="/animais/salvar" method="post">

    <label>Nome:</label>
    <input type="text" name="nome" required>

    <label>Espécie:</label>
    <input type="text" name="especie" required>

    <label>Raça:</label>
    <input type="text" name="raca" required>

    <label>Peso:</label>
    <input type="number" step="0.01" name="peso" required>

    <button type="submit">Adicionar Animal</button>

</form>

<br><hr><br>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Espécie</th>
            <th>Raça</th>
            <th>Peso</th>
            <th>Ações</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="animal : ${animais}">
            <td th:text="${animal.id}"></td>
            <td th:text="${animal.nome}"></td>
            <td th:text="${animal.especie}"></td>
            <td th:text="${animal.raca}"></td>
            <td th:text="${animal.peso}"></td>

            <td>
                <a th:href="@{/animais/editar/{id}(id=${animal.id})}">
                    Editar

                </a>
                 |
                <a th:href="@{/animais/excluir/{id}(id=${animal.id})}"
                   onclick="return confirm('Deseja realmente excluir este animal?');">
                    Excluir

                        
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br>

<a href="/auth/logout">
    <button>Sair</button>
</a>


</body>
</html>