<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Animal</title>
</head>
<body>

<h1>Editar Animal</h1>

<form th:action="@{/animais/editar}" method="post">
    

    <input type="hidden" name="id" th:value="${animal.id}">
    <label>Nome:</label>
    <input type="text" name="nome" th:value="${animal.nome}">
    <br><br>
    <label>Espécie:</label>
    <input type="text" name="especie" th:value="${animal.especie}">
    <br><br>
    <label>Raça:</label>
    <input type="text" name="raca" th:value="${animal.raca}">
    <br><br>
    <label>Peso:</label>
    <input type="number" step="0.01" name="peso" th:value="${animal.peso}">
    <br><br>
    <button type="submit">Salvar</button>
</form>
<br>
<a href="/animais">Voltar</a>
</body>
</html>