<!doctype html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Principal - Clínica Vet Amigos</title>
  </head>
  <body>
    <h1>Bem vindo, <span th:text="${session.VETERINARIO.nome}"></span>!</h1>
    <nav>
      <ul>
        <li><a href="/animais">Animais</a></li>
        <li><a href="/veterinarios">Veterinários</a></li>
        <li><a href="/consultas">Consultas</a></li>
      </ul>
    </nav>
    <form method="post" action="/logout">
      <button type="submit">Sair</button>
    </form>
  </body>
</html>
